// Заголовки, общие БЄМ блоки и проче...
.visually-hidden{
    height: 1px;
    overflow: hidden;
    width: 1px;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}
.box-small{
    max-width: 840px;
}
.none{
    display: none !important;
}
.title-2 {
    color: $accent;
    font-family: Playfair Display;
    @include adaptiveValue("font-size",36 ,28 );
    font-weight: 700;
    
}
img,svg{
    max-width: 100%;
    height: auto;
}

//========================================================================================================================================================
//map
[class*="ground-pane"]{
    filter: grayscale(1) sepia(10%);
}