
.footer {
    background-color: $footer-bg;
    padding: 72px 51px;
    font-size: 14px;
    line-height: math.div(20 ,14 );
    letter-spacing: 0.05rem;
    @media (max-width:$tablet){
        padding: 36px 25px;
    }

    &__container {
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 30px;
        @media (max-width:$tablet){
            grid-template-columns: repeat(auto-fit,minmax(290px, 1fr));
            gap: 40px 30px;
           justify-items: center;
           text-align: center;
        }
        @media (max-width: em(480)){
             text-align: left; 
             justify-items: start;
        }
    }

    &__logo {
        margin-top: -12px;
    }
    &__nav {
    }

    &__nav-list {
        display: grid;
        gap: 15px;
    }

    &__adress {
        display: grid;
        gap: 20px;
    }
    &__socials {
        
        display: flex;
        column-gap: 22px;
        align-items: center;
        @media (max-width:$tablet){
            text-align: center;
            justify-content: center;
        }
        @media (max-width: em(480)){
            text-align: left; 
           justify-content: flex-start;
       }
    }
    
}
.footer-nav {

    &__list {
    }
}
